body {
    background-image: url('https://github.com/SapphireGirl/SapphireGirl.github.io/blob/4fb6915c7ea35e8ee994f4b5493af3f8629f22dc/assets/images/StandingPoppies.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  div {
    background-color: rgba(255, 255, 255, 0.35)   /* 35% opaque white */;
    padding: 0.25em;
  }